h1{
	font-family:"forte";
	font-size:45px;
	text-align:center;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	/*min-width:200px;*/
	max-width:800px;
	height:auto;
}
iframe{
	border:2;
	width:800px;
	height:600px;
	frameborder:0;
	scrolling:yes;
}