body {
	margin: 0;
	}

header img {
	display: block;
	object-fit: contain;
	height: 400px;
	width: 100%;
	top: 0px;
	transform: none;
}

header h1 {
	font-family: forte, comic sans ms;
	font-size: 45px;
	text-align: center;
}

nav.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 100%; 	
    background-color: #f1f1f1;
    height: auto;
    overflow: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

nav.sidenav ul li a {
    display: block;
    color: #000;
	float: left;
    padding: 15px;
    text-decoration: none;
}

nav.sidenav ul li a.active {
    background-color: #4CAF50;
    color: white;
}

nav.sidenav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 0px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 735px) {
    nav.sidenav ul {
		position: relative;
	}
	nav.sidenav ul li a {
        text-align: center;
        float: none;
    }
}

.construction {
	font-family: comic sans ms;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	color: red;
}

.mobilecalendarlink {
	font-family: comic sans ms;
	font-size: 18px;
	text-align: left;
	/*color: #2333ccff;*/
}
.googlecalendar {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
 
.googlecalendar iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 
}
